@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    /* outline: red 2px solid; */
}

:root {
    --fs-sm: 10px;
    --fs-md: 15px;
    --fs-lg: 16px;
    --fs-xl: 17px;
    --fs-2xl: 18px;
    --fs-3xl: 24px;
    --fs-4xl: 28px;
    --fs-5xl: 36px;
    --fs-6xl: 58px;
    --fs-7xl: 64px;
    /* font-weight: ; */
    --fw-sm: 400;
    --fw-md: 500;
    --fw-lg: 600;
    --fw-xl: 700;
    /* font-family: ; */
    --font-main: 'Hind Siliguri', sans-serif;
    --font-primary: 'Open Sans', sans-serif;
    /* color */
    --color-main: #232323;
    --color-attract: #9E3040;
    --color-primary: #686868;
    --color-secandary: #303030;
    --color-white: #ffff;
}

/* font-size  */
.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}

.fs-3xl {
    font-size: var(--fs-3xl);
}

.fs-4xl {
    font-size: var(--fs-4xl);
}

.fs-5xl {
    font-size: var(--fs-5xl);
}

.fs-6xl {
    font-size: var(--fs-6xl);
}

.fs-7xl {
    font-size: var(--fs-7xl);
}

/* font weight class */
.fw-sm {
    font-weight: var(--fw-sm);
}

.fw-md {
    font-weight: var(--fw-md);
}

.fw-lg {
    font-weight: var(--fw-lg);
}

.fw-xl {
    font-weight: var(--fw-xl);
}

/* color */
.color-main {
    color: var(--color-main);
}

.color-attract {
    color: var(--color-attract);
}

.color-primary {
    color: var(--color-primary);
}

.color-secandary {
    color: var(--color-secandary);
}

.color-white {
    color: var(--color-white);
}

.bg-blakis {
    background-color: var(--color-main);
}

/* font-family */
.font-main {
    font-family: var(--font-main);
}

.font-primary {
    font-family: var(--font-primary);
}

/* ----style-css--- */
/*---- commun-class--- */
/* .container {
    max-width: 1280px !important;
} */
.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.line-h-117 {
    line-height: 117%;
}

.w-442 {
    max-width: 442px;
}

.para-one {
    font-size: var(--fs-xl);
    font-weight: var(--fw-sm);
    font-family: var(--font-primary);
}

.para-two {
    font-size: var(--fs-lg);
    font-weight: var(--fw-sm);
    font-family: var(--font-primary);
}

.short-line {
    font-size: var(--fs-xl);
    font-weight: var(--fw-sm);
    font-family: var(--font-primary);
}

.head-one {
    font-size: var(--fs-4xl);
    font-weight: var(--fw-lg);
    font-family: var(--font-main);
}

.main-head {
    font-size: var(--fs-5xl);
    font-weight: var(--fw-lg);
    font-family: var(--font-main);
}

.main-head-two {
    font-size: var(--fs-5xl);
    font-weight: var(--fw-xl);
    font-family: var(--font-main);
}

.nav-one {
    font-size: var(--fs-2xl);
    font-weight: var(--fw-sm);
    font-family: var(--font-main);
}

.nav-upper {
    font-size: var(--fs-sm);
    font-weight: var(--fw-sm);
    font-family: var(--font-main);
}

.card-head {
    font-size: var(--fs-3xl);
    font-weight: var(--fw-xl);
    font-family: var(--font-main);
}

.dollar {
    font-size: var(--fs-3xl);
    font-weight: var(--fw-lg);
    font-family: var(--font-main);
}

.trend-head {
    font-size: var(--fs-3xl);
    font-weight: var(--fw-xl);
    font-family: var(--font-main);
}

.discount {
    font-size: var(--fs-lg);
    font-weight: var(--fw-sm);
    text-decoration-line: strikethrough;
    font-family: var(--font-main);
}

.bg-nav {
    background: #F7F7F7;
}

.icon-bg {
    padding: 5px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
}

.sign-in {
    padding: 10px 32px;
    border-radius: 5px;
    background: var(--color-attract);
    box-shadow: 0px 0px 10px 0px rgba(158, 48, 64, 0.17);
}

.shop {
    padding: 10px 27px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.innerwords {
    font-family: var(--font-main);
    font-size: var(--fs-2xl);
    font-weight: var(--fw-lg);
}

.line-set {
    position: absolute;
    left: 0;
    right: 0;
    top: 42%;
    z-index: -1;
}

.box-product {
    padding: 23px 14px 32px 14px;
    border-radius: 10px;
    background: #F3F5F6;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.00);
}

.trending-card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.10);
}

.trending-inner-pading {
    padding: 31px 19px 41px 18px;
}


.w-373 {
    max-width: 373px;
}

.bg-explore {
    background-image: url(../images/section-main.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* padding gap margin */
.pt-95 {
    padding-top: 95px;
}

.mt-60 {
    margin-top: 60px;
}

.pt-40 {
    padding-top: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-89 {
    margin-top: 89px;
}

.line-200 {
    line-height: 200%;
}

.line-200-custum {
    line-height: 180%;
}

.gap-64 {
    gap: 10px;
}

.explore-space {
    padding: 50px;
}

.trending-radius {
    border-radius: 10px;
}

.gap-14 {
    gap: 4px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 12px;
}

.gap-42 {
    gap: 30px;
}

.d-lg {
    display: none;
}

.fix1,
.fix2,
.fix3 {
    transition: all 0.5s ease-in-out;
}

.fixer1 {
    display: none;
}

.fixer2 {
    transform: rotate(48deg) translate(2px, 0px);
}

.fixer3 {
    transform: rotate(-45deg) translate(12px, -10px);
}

.over-flow {
    overflow-y: hidden;
}

.radius-img {
    border-radius: 15px !important;
}

.w-300 {
    max-width: none;
}

.header-main {
    background-image: url(../images/header-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cart {
    padding: 8px 4px;
    border-radius: 5px;
    background: #232323;
    border: none;
}

.organic-card {
    padding: 76px 27px;
    border-radius: 30px;
    background: #F3F5F6;
}

.towell-radius {
    border-radius: 30px;
}

.w-457 {
    max-width: none;
}

.custum-widthimg {
    max-height: 199px;
}

.show-more {
    padding: 10px 28px;
    border-radius: 5px;
    background: var(--color-attract);
    box-shadow: 0px 0px 10px 0px rgba(158, 48, 64, 0.17);
    border: none;
}

.testimonials-card {

    padding: 24px;
    border-radius: 30px;
    background: var(--color-attract);
}

.double-comma::after {
    display: none;
}

.double-comma::before {
    display: none;
}

.w-868 {
    max-width: 868px;
}

.d-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 30px;
}

.item-g {
    border-radius: 10px;
    overflow: hidden;
}

.item-g:hover>img {
    transform: scale(1.1);


}

.item1 {
    grid-row: 1/2;
    grid-column: 1/2
}

.item2 {
    grid-row: 2/3;
    grid-column: 1/2
}

.item3 {
    grid-row: 3/4;
    grid-column: 1/2
}

.item4 {
    grid-row: 4/5;
    grid-column: 1/2
}

.item5 {
    grid-row: 5/6;
    grid-column: 1/2
}

@media (max-width:1199.05px) {
    label[id="nav"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        right: 9px;
        top: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        z-index: 4;
    }

    label[id="nav"]>span {
        width: 100%;
        height: 5px;
        background-color: var(--color-attract);
    }

    .menubar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background-color: #FFF;
        position: fixed;
        top: 0;
        z-index: 3;
        left: -100%;
        opacity: 1;
        transition: all 0.5s linear;
    }

    .left-0 {
        left: 0;
    }

    .d-lg {
        display: block;
    }

    .n-lg {
        display: none;
    }
}

@media (min-width:575.08px) {
    :root {
        --fs-sm: 14px;
        --fs-md: 15px;
        --fs-lg: 16px;
        --fs-xl: 17px;
        --fs-2xl: 18px;
        --fs-3xl: 24px;
        --fs-4xl: 30px;
        --fs-5xl: 36px;
        --fs-6xl: 58px;
        --fs-7xl: 64px;
        /* font-weight: ; */
        --fw-sm: 400;
        --fw-md: 500;
        --fw-lg: 600;
        --fw-xl: 700;
        /* font-family: ; */
        --font-main: 'Hind Siliguri', sans-serif;
        --font-primary: 'Open Sans', sans-serif;
        /* color */
        --color-main: #232323;
        --color-attract: #9E3040;
        --color-primary: #686868;
        --color-secandary: #303030;
        --color-white: #ffff;
    }

    .nav-upper {
        font-size: var(--fs-sm);
        font-weight: var(--fw-sm);
        font-family: var(--font-main);
    }

    .gap-64 {
        gap: 64px;
    }

    .icon-bg {
        padding: 13px;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    }

    .gap-20 {
        gap: 20px;
    }

    .explore-space {
        padding: 162px;
    }

    .item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .item2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .item3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .item4 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .item5 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .testimonials-card {
        padding: 50px;
        border-radius: 30px;
        background: var(--color-attract);
    }

    .line-200-custum {
        line-height: 200%;
    }
}

@media (min-width:767.08px) {
    .w-300 {
        max-width: 300px;
    }

    .cart {
        padding: 8px 31px;
        border-radius: 5px;
        background: #232323;
        border: none;
    }

}

@media (min-width:991.08px) {
    .item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .item2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .item3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .item4 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .item5 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .double-comma::after {
        content: url(../images/ourset-bottom.png);
        position: absolute;
        bottom: -88%;
        right: -9%;
        display: block;
    }

    .double-comma::before {
        content: url(../images/ourset-top.png);
        position: absolute;
        top: -65%;
        left: -17%;
        display: block;
    }

    .testimonials-card {
        padding: 100px 81px 59px 180px;
        border-radius: 30px;
        background: var(--color-attract);
    }
}

@media (min-width:1199.08px) {
    .min_vh-100 {
        min-height: 100vh;
    }

    .explore-space {
        padding: 0;
    }

    .w-457 {
        max-width: 457px;
    }
}